h1{
   font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
h1 span{
   font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
h2,h3,h4,h5,h6{
   font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
}
p,a,button{
    font-family: 'Poppins' !important;
}

span{
    font-family: 'Poppins';
    font-weight: 500;
}
